.example-header-image {
    background-image: url('https://i.ya-webdesign.com/images/funny-png-avatar-2.png');
    background-size: cover;
  }

.current-turn {
    border: 5px solid lightgreen;
    border-radius: 5px;
}