<div fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="column" fxLayoutAlign=" start start">
        <h2>Bonjour à vous! Hi there! Dia Duit! </h2>
        <p>Cela fait maintenant presque 22 ans que vous avez mis au monde un, puis deux, puis 3 petits (mais plus trop petits quand même) monstres.
            Vous les avez vu grandir, vous les avez fait mûrir, et maintenant il est temps pour eux de partir.
            Mais la famille, c’est vital pour vous, et c’est une valeur que vous nous avez transmise. </p>

        <p>
            Alors en ce jour de fête des P….arents (oui on est comme ça nous, on change les dates il y a quoi? ihihi), 
            on vous propose de vous replonger dans les souvenirs de notre enfance. 
            Ah oui et, la famille, c’est important, mais on oublie pas l’esprit compet ici! 
            C’est donc en duel que vous allez devoir accepter ce défi. 
        </p>

        <p>
            Entrer nos noms, cliquer sur "Submit" puis "Let's start the game" et c’est parti pour la première étape du périple… "qui est le plus susceptible de" ?
        </p>
    </div>

    <div fxLayout="column" fxFill>
        <ng-container *ngTemplateOutlet="players ? leaderboard : form"></ng-container>
    </div>
</div>


<!-- Templates -->

<!-- PLAYERS FORM -->
<ng-template #form>
    <h3>Enter your player usernames !</h3>
    <form  fxLayout="column" fxFill [formGroup]="playersForm" (ngSubmit)="onSubmit()">
        <div fxLayout="row" fxLAyoutAlign="center center">
            <mat-form-field appearance="outline">
                <mat-label>Player 1</mat-label>
                <input type="text" matInput placeholder="Player 1" required formControlName="playerOne">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <span fxFlex></span>
            <mat-form-field appearance="outline">
                <mat-label>Player 2</mat-label>
                <input matInput placeholder="Player 2" required formControlName="playerTwo">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>

        <button mat-stroked-button color="primary" type="submit" [disabled]="!playersForm.valid">Submit</button>


    </form>

</ng-template>


<!-- LEADERBOARD -->
<ng-template #leaderboard>
    <app-leaderboard></app-leaderboard>
    <a mat-raised-button color="accent" [routerLink]="btnRoute" routerLinkActive="active">{{ btnText }}</a>
</ng-template>