.rectangle {
    height: 50px;
    width: 100px;
    border: 5px solid lightskyblue;
    position: absolute;
    // top: 20px;
    // left: 300px;
}

.relative-anchor {
    position: relative
}

.dot {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid lightsalmon;
    display: inline-block;
    line-height: 90px;
    text-align: center;
    font-size: 2em;
    color: lightsalmon
  }

::ng-deep .success {
    background-color: green;
    color: white

}

::ng-deep .info {
    background-color: goldenrod;
    color: white;
}